
.n{
    background-color: rgb(136, 90, 57); color: black;
    border: 3px solid black;
   text-decoration: none;
  

}
.b{
    background-color: rgb(110, 119, 112); color: black;
    border: 3px solid black;
   text-decoration: none;
  
}
.img{
    display: inline; 
}

.input{
    font-size: 30px;
    background-color: bisque;
}
